@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&display=swap');

:root{
    --primary-color: red;
    /* --primary-color: #7C3AED; */
}
body{
    color: rgb(5, 51, 94);
    font-family: 'Montserrat', sans-serif;
}

/* @containers */
.container{
    padding: 0rem 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

/* @links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.primary-link{
    color:var(--primary-color);
}
