@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&display=swap');

body{
    color: rgb(5, 51, 94);
    font-family: 'Montserrat', sans-serif;
}

/* @containers */
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

/* @links */
